@(resultList:Array[(String,String,Int)])

    @main("Search Result") {
        <br>
        <form class="form-inline" action="/search" method="GET">
            <h3>Search It!  </h3>&nbsp;&nbsp;&nbsp;
            <input class="form-control" type="text" name="keyword">&nbsp;&nbsp;&nbsp;
            <button class="btn btn-primary btn-lg" type="submit">search</button>&nbsp;&nbsp;&nbsp;
            <h4>find @resultList.length result</h4>
        </form><br>

        @for(record <- resultList) {
            <div class="card" >
                <div class="card-body">
                    <a class="card-text" href="/detail?index=@record._1">@record._2</a><br>
                    <span>word matches :@record._3</span>
                </div>
                <br>
            </div>
        }
    }